@model RealPollSignalR.Areas.Admin.Models.StatisticsModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <td>Total questions:</td><td>@Model.TotalQuestions</td>
    </tr>
</table>