@model RealPollSignalR.Models.Question
@{
    ViewBag.Title = "Vote for your option";
}

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.0.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        var questionId = '@Model.Id'
        $(function () {
            $("#thanks").hide();
            var poll = $.connection.poll;
            var actor;
            $.connection.hub.start().done(function () {
                
                $('button').click(function () {
                    actor = this;
                });

                $("form").submit(function () {
                    if ($("#name").val().length == 0 || actor == null) {
                        return;
                    }
                    poll.server.vote($("#name").val(), questionId, $(actor).val());
                    $("#thanks").show();
                    $("form").hide();
                    actor = null;
                    event.preventDefault();
                });
            });
        });
    </script>
    <style>
    .btn-success {
        margin-bottom: 10px;
        width: 100%;
    }
    .red {
        color: red;
    }
    </style>
}

<div class="row">
    <form>
        <h2>@Html.DisplayFor(m => m.QuestionText)</h2>
        <div class="form-group">
            <label for="name">Name:</label>
            <input id="name" type="text" class="form-control" required />
            <span id="error"></span>
        </div>

        <label for="name">Your answer:</label>

        @foreach (var item in Model.Answers)
        {
            <button class="btn btn-success" value="@item.Id">@item.AnswerText</button><br />
        }
    </form>
    <div id="thanks">
        <h2>Thanks for your vote!</h2>
    </div>
</div>