
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Welcome to Realpoll</h1>
    <p class="lead">RealPoll is a simple, easy to use real-time poll system.</p>
    <p><a class="btn btn-lg btn-success" role="button" href="#">Create your question</a> or <a class="btn btn-lg btn-primary" role="button" href="#">Vote an existing question</a></p>
</div>


<div class="row marketing">
    <div class="col-lg-4">
        <h4>How to use it</h4>
        <p>Check out the <a href="#">Instructions</a></p>
    </div>
    <div class="col-lg-4">
        <h4>About the project</h4>
        <p>Read about it on <a href="#">my blog</a></p>
    </div>
    <div class="col-lg-4">
        <h4>Open source</h4>
        <p>Source code available on <a href="#">Github</a></p>
    </div>
</div>