<html>
<body>
    Hi:

    <p>Here are the details of your question:</p>

    <b>Title:</b> @Model.QuestionText

    <p><b>Answers:</b></p>
    <ul>
        @foreach(var answer in Model.Answers) {
            <li>
                @answer.AnswerText
                @if(answer.IsCorrect)
    {
                    <b>(Correct)</b>
    }
            </li>
}
    </ul>

    Get the links from the question <a href="http://realpoll.azurewebsites.net/Question/Created/@Model.DisplayHash">details page!!</a>

    <div style="font-size: small">
        <p>Powered by <a href="http://realpoll.azurewebsites.net">RealPoll</a></p>
        <hr />
        <p>
            Created by <a href="https://twitter.com/rlbisbe">@@rlbisbe</a><br />
            Check out what's under the hood on my <a href="http://rlbisbe.net">blog</a><br />
            Code available on <a href="http://rlbisbe.net">Github</a>
        </p>
    </div>
</body>
</html>